body,html{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}
#chart{
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}
.bar{
    fill: purple;
    shape-rendering: crispEdges;
}
.bar-label{
    fill: black;
    text-anchor: middle;
    font-size: 18px;
}
.axis path,
.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.gridline path,
.gridline line{
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}
.trendline{
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
    stroke-dasharray: 10;
}
.area{
    opacity: 0.25;
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1px;
}