<!doctype html>
<html>
<head>

 <title>BEScraper</title>
 <meta charset="utf-8" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--Ajax-->

</head>

<body>
{% include header.html %}


<div class="container">
    <img id="image" src="http://cdn.teehunter.com/wp-content/uploads/2015/01/attack-on-titan.jpg" height="300" width="800"/>

    <h1> Admin Portal </hi>

    <h2 id="topic"> Database Setup</h2>

<div>

<div class="container">

            <label for="ServerIP"> Server IP </label>

            <input id="ServerIP" type="text" class="form-control" value="ex. 127.0.0.1" />

            <label for="ServerPort"> Server Port </label>

            <input id="ServerPort" type="text" class="form-control" value="ex. 6374" />

        <button id="submit" type="button">Submit Changes</button>

<div>

<script>

$(document).ready(function(){
    $("#submit").click(function(){
        $.post('/config',
            {
                ServerIP: $("#ServerIP").val(),
                ServerPort: $("#ServerPort").val()
            },
            function(data, status){
                alert("Status: " + status + " " + data);
        });
    });
});

</script>

</body>

</html>

