<!doctype html>
<html>
<head>

   <title>BEScraper</title>
   <meta charset="utf-8" />

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">



</head>

{% include header.html %}

<body>
        <!--img class="img-responsive center-block" id="image" src="http://www.da.inf.ethz.ch/news/BigData.png" height="150" width="800"/-->

    <h1 class="events text-center"> Data Analysis and Scraping</hi>


 <div id="chartType"> Chart goes here</div>

<a href="#" id="addContent">Load Graph</a>
<div id="maincontent"></div>


<script type="text/javascript">
$('#addContent').click(function(){
$.get(path/to/file, function(data) {
    $("#maincontent").html(data)
});
</script>


</body>

</html>

